* {
    padding: 0;
    margin: 0;
    border: none;
}

.col-2{
    width:50%;
}

.display-flex{
    display:flex;
}


#header{
    height: 144px;
    width: 100%;
    color: #000;
    z-index:1;
    top:0;
    position:fixed;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.top{
    margin-bottom:auto;
    height: 81px !important;
}

.logo-container{
    position:absolute;
    top:8px;
    left:8px;
}

.logo-img{
    width:100%;
    height: 60px;
}

.bg-black{
    background-color: #000;
}


.form-search{
    width:100%;
}

.search-input{
    padding: 8px;
    width:80%;
    font-size: 12px;
    font-style: italic;
}


.search-btn{
    padding: 4px 10px 7px 10px;
    color: #fff;
    background-color:#ff9601;
    cursor:pointer;
    margin-left: 4px;
}

.search-btn:hover{
    opacity:0.8;
}

.liked-btn , .history-btn{
    font-size: 24px;
    color:#fff;
    transition:ease 0.5s;
}

.history-btn:hover{
    color:#ff9601;
}

.liked-btn:hover{
    color:rgb(179, 51, 51);
}

.log-in-btn, .sign-in-btn{
    color:#fff;
    font-size: 16px;
}

.log-in-btn:hover, .sign-in-btn:hover{
    color:#ff9601;
}

.main-menu{
    width: 100%;
    background-color: #181616;
    margin-top: auto;
}

.nav .nav-link{
    padding: 4px 0;
}

.nav>.nav-link>a {
    text-transform: uppercase;
}



.nav li a{
    text-decoration: none;
    color:#e7e2e2;
    font-size: 13px;
}

.nav li a:hover{
    color: #ff9601;
}



.nav-link-dropdown {
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #181616;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: #e7e2e2;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-row a {
    width: 50%;
}

.nav .nav-link-dropdown:hover .dropdown-content{
    display:block;
}

.btn-search{
    background-color: #ff9601;
    color: #e7e2e2;
}


#content{
    height:800px;
    margin-top: 144px;
}

.list-film{
    padding-top: 16px;
}

#content .heading{
    color: #ff9601;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}


.slide-item-img{
    width:100%;
    height: 225px;
}

.col-sm{
    padding: 0 !important;
    margin: 0 8px;
}

.list-film-item{
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.list-film-item:hover img{
    transform: scale(1.5);
    transition:all 0.3s ease-in-out;
}

.list-film-item:hover .play-btn{
    display:block;
}

.film-name{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0px;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    height: 36px;
    font-size: 15px;
    line-height: 36px;
}

.play-btn{
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    position: absolute;
    top:36%;
    left: 40%;
    border-radius: 50%;
    display: none;
    background-color: #ff9601;
    opacity: 0.9;
}

.play-icon{
    position:absolute;
    top:14px;
    left:18px;
}
  
.btn-previous{
    left: 0;
}

.slider-btn{
    position:absolute;
    color:#fff;
    top: 40%;
    font-size: 24px;
    padding: 12px 8px;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}

.btn-next{
    right:0;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-item {
    flex: 0 0 20%; 
    margin-right: 20px;
  }
  

  
  .slider-btn-prev {
    left: 0;
  }
  
  .slider-btn-next {
    right: 0;
  }
  